// Primary

$moderate-violet: hsl(263, 55%, 52%);
$very_dark-grayish-blue: hsl(217, 19%, 35%);
$very-dark-blackish-blue: hsl(219, 29%, 14%);
$white: hsl(0, 0%, 100%);

// Neutral

$light-gray: hsl(0, 0%, 81%);
$light-grayish-blue: hsl(210, 46%, 95%);

// Font

$primary-font: 'Barlow Semi Condensed', sans-serif;
$medium: 500;
$semi-bold: 600;

// Breakpoints
$tablet: 768px;
$desktop: 1200px;